.mar-bot-10 {
  margin-bottom: 10px;
}

.mar-bot-20 {
  margin-bottom: 20px;
}

.mar-right-20 {
  margin-right: 20px;
}

.page-content {
  background-color: #fff;
  display: flex;
  width: 90%;
  min-height: calc(100vh - 110px);
  padding: 20px 0;
  margin: 0 auto;
}

aside {
  margin: 0 20px;
  /* width: 300px; */
  flex: 2;
}

main {
  flex: 6;
}

.aside-block {
  border: 1px solid #3d8bcd;
  border-radius: 5px;
  margin-bottom: 25px;
}

.aside-block h3 {
  background-color: #3d8bcd;
  color: #fff;
  margin: 0;
  padding: 5px 10px;
  font-size: 16px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.aside-block ul {
  margin: 10px 0;
}

.aside-block ul li a {
  text-decoration: none;
}

.book-row {
  display: flex;
  align-items: center;
}

.new-category {
  margin: 0 10px;
}